.info{
    height:400px;
    width:90%;
    background-color:pink;
    padding:10px;
    margin-top:20px;
    margin:auto;
    text-align:center;
}
.heading{
    text-align: center;
    font-size: 30px;
    color: blue;
}
.paragraph{
    font-size: 20px;
    color: black;
    line-height: 1.5;
}